#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: rgb(255,193,7);
  background: radial-gradient(circle, rgba(255,193,7,1) 0%, rgba(123,31,162,1) 100%);
}

#drum-machine{
  max-width: 800px;
  min-width: 310px;
  background: #7B1FA2;
  padding: 20px;
  border-radius: 10px;
  color: #FFFFFF;
}

#display{
  min-height: 40px;
  background: #FFC107;
  color: #212121;
  margin: 1rem 0;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}

#drum-pads {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

#drum-pads .drum-pad{
  padding: 15px;
  background-color: #212121;
  color: #FFFFFF;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
}
